body {
    background-color: cornsilk;
}

div {
    float: right;
}

a {
    text-decoration: none;
    color: brown;
    margin: 10px;
}

h1 {
    color: rgb(252, 67, 0);
    padding: 10px;
}

a:hover{
    font-size: large;
    color: darkblue;
}